main{
    background-color: $main-bg;
    h1{
        position: absolute;
        font-size: 25px;
        color: $footer-title;
        background-color: $navbar-hover;
        padding: 15px 25px 15px 25px;
        top: 465px;
        left: 240px;
    }

    h2{
        color: white;
        font-size: 50px;
        padding-top: 400px;
    }

    .jumbotron{
        height: 400px;
        background-image: url('/img/jumbotron.jpg');
    }

    .wrapper{
        height: 670px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
        justify-content: center;
    }

    .card{
        background-color: $main-bg;
        margin-right: 20px;
        margin-bottom: 150px;
        border: 0;
        height: 200px;
        width: 200px;
        img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        }
        p{
        color: $series-name;
        display: flex;
        justify-content: center;
        }

    }
    .card :hover{
        cursor: pointer;
    }
    .button{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
    button{
        background-color: $navbar-hover;
        color: $footer-title;
        padding: 10px 60px 10px 60px;
        border: 1px solid $navbar-hover;
        margin-bottom: 20px;
    }
    .card{
        height: 200px;
        width: 200px;
        img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        }
        p{
        color: $series-name;
        display: flex;
        justify-content: center;
        }
    }
}


