main{
    background-color: $main-bg;
    h1{
        position: absolute;
        font-size: 25px;
        color: $footer-title;
        background-color: $navbar-hover;
        padding: 15px 25px 15px 25px;
        top: 465px;
        left: 240px;
    }

    h2{
        color: white;
        font-size: 50px;
        padding-top: 400px;
    }
    h3{
        color: white;
        font-size: 25px;
    }
    p{
        color: white;
    }
    .jumbotron{
        height: 400px;
        background-image: url('/img/jumbotron.jpg');
    }

    .wrapper{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
        flex-direction: column;
    }

    img{
        height: 350px;
        width: 400px;
    }

    span{
        color: white;
    }

}

    .button{
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
    button{
        background-color: $navbar-hover;
        color: $footer-title;
        padding: 10px 60px 10px 60px;
        border: 1px solid $navbar-hover;
        margin-bottom: 20px;
    }





